@model Ogrenci

<p><b>@Model.OgrenciAd @Model.OgrenciSoyad</b> adli telebeni silmek istediynize eminsiz?</p>

    <form asp-action="Delete" method="post">
        <input type="hidden" name="id" value="@Model.OgrenciId">
        <button type="submit" class="btn btn-danger">Beli</button>
        <a asp-action="Index" class="btn btn-warning">Xeyr</a>
    </form>
